@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gamja Flower', sans-serif;
}

body {
  width: 100%;
  height: 100vh; /* Center vertically using viewport height */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

header {
  display: flex;
  margin: 10px;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}

.counter__value {
  width: 100%;
  height: 10rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
}

.counter__action {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.counter__button {
  color: rgb(89, 0, 255);
  width: 100%;
  height: 15rem;
  padding-right: 10rem;
  padding-left: 10rem;
  padding-top: 1rem;
  font-size: 3rem;
  border-bottom: 1px solid #4c4e53; /* Corrected border property */
  transition: transform 0.3s;
  transform: translateY(0);
  outline: none; /* Removed outline */
}

.counter__button::part(base) {
  font-size: 10rem;
}

.counter__button:active {
  background: rgb(36, 34, 34);
  transform: translateY(2%);
}

.counter__button:disabled {
  opacity: 0.2;
}

.reset_actions {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #4c4e53;
}

.reset-button {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  background-color: rgb(53, 50, 50);
}
